{% set statusColors = {
    'published': {'icon': 'success', 'text': 'green'},
    'unpublished': {'icon': 'danger', 'text': 'red'},
    'expired': {'icon': 'info', 'text': 'blue'},
    'pending': {'icon': 'info', 'text': 'blue'}
} %}

{% set publishStatus = entity.getPublishStatus() %}
{% if publishStatus == 'published' %}
    {% set labelText = (status is not defined ? 'mautic.core.form.active' : 'mautic.core.form.available')|trans %}
{% elseif publishStatus == 'pending' %}
    {% set labelText = 'mautic.core.form.pending'|trans %}
{% elseif publishStatus == 'expired' %}
    {% set labelText = 'mautic.core.form.expired'|trans %}
{% else %}
    {% set labelText = (status is not defined ? 'mautic.core.form.inactive' : 'mautic.core.form.unavailable')|trans %}
{% endif %}


<div class="label label-{{ statusColors[publishStatus].text }} d-flex ai-center gap-xs fw-b">
    <span title="{{ labelText }}" aria-label="{{ labelText }}" class="bg-{{ statusColors[publishStatus].icon }} publishstatus_pulse"> </span>
    {{ labelText }}
</div>
