{% set searchValue = searchValue|default('') %}
{% set target = target|default('.page-list') %}
{% set overlayTarget = overlayTarget|default(target) %}
{% set overlayEnabled = overlayDisabled is defined and overlayDisabled is not empty ? 'false' : 'true' %}
{% set id = searchId|default('list-search') %}
{% set tmpl = tmpl|default('list') %}

<div class="input-group d-flex fg-1">
    <div class="input-group-btn">
        {% include '@MauticCore/Helper/button.html.twig' with {
            buttons: [
                {
                    label: 'mautic.core.search.clear',
                    variant: 'ghost',
                    icon: 'ri-search-line ri-fw',
                    icon_only: true,
                    size: 'sm',
                    attributes: {
                        'type': 'button',
                        'id': 'btn-filter',
                        'data-livesearch-parent': id,
                        'class': 'input-group-btn btn-search'
                    }
                }
            ]
        } %}
    </div>
    <input type="search" class="form-control search" id="{{ id }}" name="search" placeholder="{% trans %}mautic.core.search.placeholder{% endtrans %}" value="{{ searchValue|escape }}" autocomplete="false" data-toggle="livesearch" data-target="{{ target }}" data-tmpl="{{ tmpl }}" data-action="{{ action }}" data-overlay="{{ overlayEnabled }}" data-overlay-text="{% trans %}mautic.core.search.livesearch{% endtrans %}" data-overlay-target="{{ overlayTarget }}" />

    {% set filtering %}
    <div class="{% if filters is defined and filters is not empty %}col-xs-6{% endif %}">
        {% if quickFilters is defined and quickFilters is not empty %}
        {{ include('@MauticCore/Helper/list_quickfilters.html.twig', {
            'quickFilters': quickFilters
        }) }}
        {% endif %}

    </div>
    <div class="{% if filters is defined and filters is not empty %}col-xs-6{% endif %}">
        {% if filters is defined and filters is not empty %}
                {{- include('@MauticCore/Helper/list_filters.html.twig', {
                    filters: filters,
                    target: target|default(null),
                    tmpl: tmpl|default(null)
                }) -}}
                {% endif %}

    </div>
    {% endset %}

    <button
      type="button"
      class="btn btn-ghost btn-icon btn-nospin"
      data-container="body"
      data-toggle="popover"
      data-html="true"
      data-placement="left"
      title="Detailed Information"
      data-content="{{ filtering|e('html_attr') }}"
    >
    <i class="ri-filter-line ri-1x"></i>
    </button>

</div>
